
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Benvenuto nella libreria</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h2 class="form-signin-heading">Benvenuto nella libreria. Fai il login per accedere ai contenuti</h2>
		
		  <form action="#" th:action="@{/book/trovato}" th:object="${book}" method="post" >
          <p>Cerco per ID: <input type="number" th:field="*{id}"/></p>
        
        <p><input type="submit" value="Submit"  class="btn btn-success"/>Trova</p>
    </form>
		
	</div>
</body>
</html>