
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submission result</title>
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hai effettuato il login: </h1>
   <h2>Qua ci saranno altre scelte per l'ultente loggato</h2>
   <hr>
 
  
   

   <table>
   <thead>
   <tr>
   <th>Vedi elenco dei libri</th>
   <th>Cerca un libro per nome</th>
   <th>Controlla i libri che hai prenotato</th>
   </tr>
   </thead>
   <tbody>
   
   </tbody>
   </table>
   <div>
   <a href="/libreriaProject/book/all">Elenco</a>
    <a href="/libreriaProject/book/autore">Cerca</a>
     <a href="">Per ora vuoto</a></div>
     
     
     
  <div class="panel-heading"><form action="#" th:action="@{/login/log}" th:object="${utenteForm}" method="get" >
  <input type="submit" value="Logout"/>
  </form></div> 
</body>
</html>