
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Submission result</title>
    <link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Hai effettuato il login: </h1>
    <table>
    <tr>
    <td>NOME UTENTE</td>
    <td><span sec:authentication="name"> </span></td>
    </tr>
      <tr>
    <td>RUOLO</td>
    <td><span sec:authentication="principal.authorities"> </span></td>
    </tr>
    
    </table>
    
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/index}"><i class="fa fa-home"></i>Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/login/controllo}">Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_OPERATORE')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/operatore/add}">Admin</a>
                </li>
                <li sec:authorize="hasAnyRole('ROLE_USER')" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/book/all}">Management</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm" type="submit">Logout</button>
                <button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login</button>
            </form>
        </div>
    Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

 <h2>Welcome</h2>
        <p>Spring Security Thymeleaf tutorial</p>
        <div sec:authorize.isAuthenticated()="hasRole('ROLE_USER')">Text visible to user</div>
        <div sec:authorize.isAuthenticated()="hasRole('ADMIN')">Text visible to admin.</div>
        <div sec:authorize.isAuthenticated()="isAuthenticated()">
            Text visible only to authenticated users.
        </div>
        Authenticated username:
        <div sec:authentication="name"></div>
        Authenticated user roles:
        <div sec:authentication="principal.authorities"></div>
    <!-- display username and role -->
    <p>
    Utente: <sec:authentication property="principal.username"/>
    <br>
    RUolo:
    <sec:authentication property="principal.authorities"/>
    </p>
   <h2>Qua ci saranno altre scelte per l'ultente loggato</h2>
 
   <hr>
<div>
    User: <span sec:authentication="name">NOT FOUND</span>
    Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
</div>
<div sec:authorize="hasRole('USER')">
<h1>User IS: </h1>
</div>

   <table>
   <thead>
   <tr>
   <th>Vedi elenco dei libri</th>
   <th>Cerca un libro per nome</th>
   <th>Controlla i libri che hai prenotato</th>
   </tr>
   </thead>
   <tbody>
   
   </tbody>
   </table>
   <div>
   <a href="/libreriaProject/book/all">Elenco</a>
    <a href="/libreriaProject/book/autore">Cerca</a>
     <a href="">Per ora vuoto</a></div>
     
     
     
  <div class="panel-heading"><form action="#" th:action="@{/login/log}" th:object="${utenteForm}" method="get" >
  <input type="submit" value="Logout"/>
  </form></div> 
</body>
</html>