<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" >
        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" >
        <title>Lecture output</title>
    </head>
    <body>
     

        <form action="/resetCounter">
            <input type="submit" value="Reset counter" class="btn btn-warning" style="background-color: orange"/>
        </form>

        <div sec:authorize="isAuthenticated()">
            <a th:href="@{/newLecture}" class="btn btn-primary">Enter a new lecture</a>
            <a th:href="@{/svaPredavanja}" class="btn btn-primary">All lectures</a>
            <a th:href="@{/pretragaPredavanja}" class="btn btn-primary">Lecture search</a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <form method="POST" th:action="@{/logout}">You are logged in as <span sec:authentication="name">User</span>.
                <input type="submit" value="Logout" class="btn btn-danger" />
            </form>
        </div>

        <div><h3>Lecture search</h3></div>
        <form th:object="${lecture}" method="post">
            <div>
                <label for="subject">Subject: </label>
                <input type="text" name="lectureSearch" th:value="${lectureSearch}">
                <input type="submit" value="Search">
            </div>
        </form>

        <table>
            <tr>
                <th>Subject</th>
                <th>Short description</th>
                <th>Lecture Type</th>
                <th>Lecturer's Name</th>
                <th>Lecturer's position</th>
                <th>Published</th>
            </tr>
            <tr th:each="lecture : ${lectureSearch}">
                <td><span th:text="${lecture.subject}" >LECTURE.SUBJECT</span></td>
                <td><span th:text="${lecture.shortDescription}" >LECTURE.SHORTDESCRIPTION</span></td>
                <td><span th:text="${lecture.lectureType}" >LECTURE.LECTURETYPE</span></td>
                <td><span th:text="${lecture.lecturer.name}" >LECTURER.NAME</span></td>
                <td><span th:text="${lecture.lecturer.lecturerPosition}" >LECTURER.LECTURERPOSITION</span></td>
                <td><span th:text="${lecture.published}" >LECTURE.PUBLISHED</span></td>
            </tr>

        </table>

</body>
</html>