<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Utenti</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <thead>
        <tr>
            <th> Titolo </th>
            <th> Autore </th>
            <th> Numero Pezzi</th>
            <th>Data di Pubblicazione</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${utenti.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="book : ${utenti}">
            <td><span th:text="${book.nome}"> Nome </span></td>
            <td><span th:text="${book.cognome}"> Cognome </span></td>
           <td>
            	<a href="">Modifica</a>> - 
            	<a href="">Elimina</a>>
            </td>
        </tr>
    </tbody>
</table>
		
</body>
</html>