<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Benvenuto</title>
</head>
<body>
<div class="jumbotron jumbotron-billboard">
  <div class="container">
        <div class="row">
         <h1>BENVENUTO</h1>
         <p th:text="${mex}"></p>
            <div class="col-lg-12">
  
   


   <a href="/libreriaProject/login/log"  class="btn btn-success">Vai alla pagina di login</a>
   <a href="/libreriaProject/cliente/registra"  class="btn btn-success">Registrati</a>
</div>
</div>
</div>
</div>
<div>
</div >

</body>
<div class="container">
<footer>
<h1>Libreria si trova in via....</h1></footer></div>
</html>